/*  my styles */

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&display=swap');

body {
    background-color: #861F41;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;

}

#intro {
  color: #B58500;
  font-family: 'Inter Tight', sans-serif; 
    font-size: 30px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    text-align: center;
    width: :200px;
}
