/*  my styles */

@import url(cabinet-grotesk.css);


img{

}

  
  body {
    padding: 1rem;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: 'CabinetGrotesk-Bold';
  }

  #GD {
    font-family: 'CabinetGrotesk-Bold';
    font-size: 24pt;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    margin: 0;
    background-color: rgb(81, 12, 134,.5); 
    padding: 2em;
    background-image: linear-gradient(rgba(86, 4, 148, 0.5), rgb(255, 255, 255,.5)),
    url("https://lh3.googleusercontent.com/rgUhiUt3ykIHQrl4ljUhPH-1y7bpKjxXNaOdlfWhvx9oKl39XGUJjSPcmoiqn2ECpa1SLRCvPOkchZcLjubu42FIKTlt3JJHwQk6bkuA2M_Zc9wvLfPPUpvar8zEj54ciSeVbZcOUw=w2400");
    background-position: center;
  }

  #WD  {
    font-family: 'CabinetGrotesk-Bold';
    font-size: 24pt;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    margin: 0;
    background-color: rgb(81, 12, 134,.5); 
    padding: 2em;
    background-image: linear-gradient(rgba(5, 255, 51, 0.917), rgb(255, 255, 255,.5)),
    url("https://lh3.googleusercontent.com/rpHU8BqNxFjfc2b_Jtu7DScfb_o10luEQBg25Ei_Y1nFivxNKHOE3Z1BUyark8GbT7AmLZd2jNSlS9Yxp2Yh-z6Cw15-KQb5LZ2oTWt6BKnSaLl2yU9eMvkWmuz708Bqeztc4AC9OA=w2400");
    background-position: center;
  }

  #UX {
    font-family: 'CabinetGrotesk-Bold';
    font-size: 24pt;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    margin: 0;
    background-color: rgb(81, 12, 134,.5); 
    padding: 2em;
    background-image: linear-gradient(rgba(4, 245, 229, 0.5), rgb(255, 255, 255,.5)),
    url("https://lh3.googleusercontent.com/Qc7TXHaTINaVIJvDo_FCJTVRMbzCwQoCJo5Z-CJvk18oujsDS3Eu7-tRn41VHnYQ8XcAx2AJlQ5MNlIuSwBNoM4K6clDWVW9MWTDaJaAlC9YFPeFYg62Pr03cOzNqmp1RrfVcoof6Q=w2400");
    background-position: center;
  }
  ul {  
      background-color: white;  
      position: fixed;
      opacity: .75;  
      left: 0;  
      right: 0;  
      top: 5px;  
      height: 50px;  
      display: flex;  
      align-items: center;  

      }  
      ol {  
      display: inline;
      padding: 3em;
    
      }  
      a {  
      margin: 3em;
      padding: 0 1em;  
      }  
/*--------------------------------Animation--------------------------------------------*/
  

  /*-------------------------End of Animation-------------------------------------*/

  /*-----------------------------Buttons------------------------------------------*/
 
  .custom-btn {
    width: 130px;
    height: 40px;
    color:#00558c;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'CabinetGrotesk-semibold', sans-serif; 
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin: 40px;
  }
  .btn-3 {
    background: #C4D6A4;
  background: linear-gradient(0deg, #C4D6A4, #a7d25d 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: #ff6a13;
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color:#C4D6A4;
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: #ff6a13;
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }
